.date {
  color: #1e293b;
  text-align: right;

  &-title {
    font-size: 0.85rem;
    color: #94a3b8;
    font-weight: 500;
    padding: 0;
  }

  &-time {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: #22c55e;
  }
}

@media screen and (max-width: 992px) {
  .date {
    text-align: left;
  }
}