.content {
  background: #f1f5f9;
  padding: 18px;
  width: 65%;

  .mobile-layout{
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 12px;
  }

  &-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.basket-item {
  background: #fff;
  color: #000;
  padding: 1rem;
  height: 200px;
  padding-top: 2rem;
  position: relative;
  border-radius: 20px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .25rem;
  padding-bottom: 5px !important;

  &-title {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &-state {
    color: #777;
  }

  &-price{
    color: #fff;
  }

  &-customer{
    color: #fff;
  }

  &-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0rem 1rem;
    font-size: 12px;
    color: #fff;

    .d-flex{
      gap: .25rem;
      min-width: 25px;
    }
    svg{
      width: 15px;
    }
  }

  &-shape{
    width: 80px;
    height: 15px;
    border-radius: 25px;
    background: rgba(244, 238, 238, 0.8);
  }

  &-bottom{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-time{
    color: #fff;
    font-size: .75rem;
  }

  &-active{
    background: #4f46e5;

    .basket-item{
      &-title{
        color: #fff;
      }

      &-state{
        color: rgba(255,255,255,0.75);
      }
    }
  }

  &-processing{
    background: #059669;

    .basket-item{
      &-title{
        color: #fff;
      }
    }
  }

  &-revise{
    background: #f59e0b;

    .basket-item{
      &-title{
        color: #fff;
      }

      &-state{
        color: rgba(255,255,255,0.75);
      }
    }
  }

  &-printed{
    background: #4f46e5;

    .basket-item{
      &-title{
        color: #fff;
      }

      &-state{
        color: rgba(255,255,255,0.75);
      }
    }
  }
}
